.text-small {
    font-size: 14px;
    font-family: sans-serif;
    color: #000000;
}

/* code Editor */
.editor-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    position: relative;
}

/* Code Editor */
.code-editor-wrapper {
    width: 70vw;
    height: 40vh;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
}

.code-editor-wrapper.light {
    background-color: white;
}

.code-editor-wrapper.dark {
    background-color: #272822;
}

/* Online Indicator */
.online-indicator {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1fdf1;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 14px;
    color: #2a8653;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.online-indicator .students-online {
    font-size: 14px;
    font-family: sans-serif;
    color: #000000;
}

.online-dot {
    width: 11px;
    height: 11px;
    background-color: #1fd731a8;
    border-radius: 50%;
}

/* Back Button */
.back-btn {
    padding: 8px 12px;
    font-size: 14px;
    font-family: sans-serif;
    color: #000000;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

/* Smiley Overlay */
.smiley-overlay {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: green;
    font-size: 3rem;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: pop 0.5s ease-out;
}

/* Progress Bar */
.progress-container {
    width: 100%;
}

.progress-text {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #555;
    margin-bottom: 6px;
}

.progress-bar {
    width: 100%;
    height: 16px;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #1fd731a8;
    transition: width 0.4s ease;
}

/* Side Bar */
.sidebar-panel {
    width: 200px;
    min-height: 40vh;
    padding: 0 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2a8653;
    border-bottom: 2px solid #c4f1bb;
    padding-bottom: 8px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}