.editor-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.code-editor-wrapper {
    margin: 40px;
    width: 70vw;
    height: 60vh;
    background-color: #272822;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
}

.online-indicator {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fcf8f8;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.online-dot {
    width: 12px;
    height: 12px;
    background-color: #1fd731a8;
    border-radius: 50%;
}

.back-btn {
    padding: 8px 12px;
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
}

.smiley-overlay {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: green;
    font-size: 3rem;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: pop 0.5s ease-out;
}

@keyframes pop {
    0% {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}