body {
    background-color: #1e1e1e;
    color: #fff5d4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-top: 10px;
}