* {
  box-sizing: border-box;
}

body {
  background-color: #fff5d4;
  color: #2a692c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 0;
}


h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 70px 0 0 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 50vh;
}

li {
  margin: 70px 0 0;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 1px solid #2a8653;
  background-color: #c4f1bb;
  color: #2a8653;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #a2de95;
  ;
}